html,
body {
    height: 100%;
}

.navbar {
    background-color: #fff !important;
}

.f-sm {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

#relatedSearch a, #collapseAdvanced a {
    text-decoration: none;
}

#searchButton {
    width: 250px;
}

#ddUserMenu {
    min-width: 270px;
    position: absolute !important;
}

#dropdownUserMenu {
    text-decoration: none;
}

#dropdownHistoryUsers {
    width: 250px;
}

#collapseAdvanced .card {
    border: 0;
}

#profileImage {
    width: 180px;
}

.form-control::-webkit-input-placeholder {
    color: #bbb;
}

.text-sm {
    font-size: .90rem;
    line-height: 1rem;
}

.popover-header {
    background-color: #fff !important;
}

.popover-x {
    border: 0;
}

.bootstrap-select {
    background-color: #fff !important;
}